.form label { font: bold 0.9em Helvetica, Arial, sans-serif; color: #00AAAA; padding: 0 0 0 5px;}
.form .w { width: 100%; float: left; clear: both; padding: 5px 1px; background: #D7EBEF; color: #333; overflow: hidden; }
.form .w textarea { width: 99%; float: left; clear: both; color: #333; overflow: hidden; }
.form input, .input { background: #D7EBEF; border: 1px solid #A5C2C8; font: bold 14px/16px Helvetica, Arial, sans-serif; }
