/* Agenda items */
.column {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.column .dragbox {
	position: relative;
	margin: 5px auto;
}
.column .dragbox h3 {
	margin: 0;
	padding: 5px;
	cursor: move;
}
.column .dragbox-content {
	border: none;
	padding: 5px;
	font-weight: normal;
}
.column .placeholder {
}
.column .dragbox .collapse {
	background: transparent url("../img/collapse.png") no-repeat top right;
}

/* Action items */
.msg_list {
	margin: 0;
	padding: 0;
}
.msg_list .msg_head_wrapper {
	margin: 5px auto;
}