<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    <description>
      Servlet
    </description>
    <display-name>Servlet</display-name>

    <servlet>
        <servlet-name>Connect</servlet-name>
        <servlet-class>Connect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connect</servlet-name>
        <url-pattern>/servlet/Connect</url-pattern>
    </servlet-mapping>
</web-app>